#credit
{
    font-size: 180%;
    position:fixed;
    bottom:0;
    right:0;
    z-index: 999
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light",
    "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    font-weight: 300;
}

a, a:hover, a:active, a:visited
{
    color: white;
}

body
{
    background-image:url('omfgdogs.gif');
}
